html * {
    padding: 0;
    margin:0;
    box-sizing: border-box;
    }
    

@font-face {
    font-family: 'ITC Avant Garde Gothic';
    src: local('ITC Avant Garde Gothic Bold Cn'), local('ITC-Avant-Garde-Gothic-Bold-Cn'),
        url('ITCAvantGardeStd-BoldCn.woff2') format('woff2'),
        url('ITCAvantGardeStd-BoldCn.woff') format('woff'),
        url('ITCAvantGardeStd-BoldCn.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }
  .headerBar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  


  p{
    font-family: 'ITC Avant Garde Gothic';
    font-size: var(--barurgent-primary-onlight-typography-label-size);

  }

input{
  background-color: #eceff1;
  border: solid thin #eceff1;
  padding: 0 35px 0 10px;
  height: 32px;
  max-width: 230px;
  color: black;
  z-index: 1;
  flex: 1;
  transition: border ease 1s;
}

input:hover{
  border: solid thin black;
}

.headerFirst{
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.headerFirst img{
  width: 40px;
  margin-top: 2px;
  outline: solid 1px black;
  margin-right: 20px;
}

.headerFirst p{
  font-size:  var(--gl-body-font-set-size-functional-1);;
  padding-left: 20px;
  padding-right: 10px;
}

.headerLogo{
  display: flex;
  align-items: end;
  padding-left: 40px;
  padding-right: 300px;
}

.headerLogo img{
  width: 60px;
}

.headerOption{
  display: flex;
}

.headerOption p{
  font-size:  var(--gl-body-font-set-size-functional-4);;
  padding-left: 10px;
  padding-right: 10px;

}

.headerRecherche{
  display: flex;
  justify-content: end;
}

.texte1:hover{
  border-bottom: solid black 1px;
}

.headerRecherche img{
  width: 25px;
  margin-top: 2px;
  margin-left: 10px;
  margin-right: 10px;
}

.textDebut{
  background-color: #eceff1;
  padding: 15px;
  text-align: center;
}

.imageDebut{
  width: 75%;
}

.headerNoir{
  text-align: center;
  color: white;
  background-color: black;
  padding: 9px;
}

.firstDiv{
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

.texteFirst{
  position: absolute;
  top: 65%;
  left: 15%;
  width: 20%;
}

.first{
  background-color: white;
  padding: 5px;
  margin: 5px;
}

.second{
  background-color: white;
  margin: 5px;
  padding: 5px;
}